{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{note.data}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onClick="deleteNote({{note.id}})"></button>
    </li>
    {% endfor %}
</ul>
<form action="" method="post">
    <textarea name="note" id="note" cols="30" rows="10" class="form-control"></textarea>
    <br>
    <div align="center">
        <button class="btn btn-primary" type="submit">Add Note</button>
    </div>
</form>
{% endblock %}